[submodule "arm-trusted-firmware"]
	path = arm-trusted-firmware
	url = ../ATF-hi3798mv2x.git
	branch = hi3798mv2x_mainline
[submodule "l-loader"]
	path = l-loader
	url = ../l-loader.git
	branch = hi3798mv200
[submodule "scripts"]
	path = scripts
	url = ../histb_tools.git
[submodule "u-boot"]
	path = u-boot
	url = ../u-boot.git
	branch = wip/trunk
